# .gitignore
#
# Ignore all
*

# But not
!.gitignore

# And not c source files 
!*.c

# And not makefiles
!Makefile

# And not markdown
!*.md

# And not the license
!License

# And not directories
!*/

